:root {
    --header-chat: #f3eeea;
    --celeste: #8edafc;
    --white: #ffffff;
    --gray: rgb(112, 112, 112);
    --input: #e9ebec;
}

body {
    font-family: 'Roboto', sans-serif;
}

.text-gray {
    color: var(--gray);
}

.wrapper {
    background: linear-gradient(180deg, rgb(21, 124, 119) 15%, rgb(200, 200, 200) 15%);
    overflow: hidden;
}

.whatsapp {
    height: 90%;
    background-color: white;
    border: 1px solid rgb(61, 25, 128);
    box-shadow: 0 0 20px 5px rgba(111, 143, 135, 0.5);
}

.contatti {
    border-right: 1px solid rgb(180, 180, 180);
    height: 100%;
    background-color: var(--input);
}

.header-contatti {
    width: 100%;
    height: 70px;
    background-color: var(--header-chat);
}

.img-profilo {
    height: 50px;
    border-radius: 50%;
}

.icons {
    color: rgb(165, 165, 165);
    font-size: 20px; 
    cursor: pointer; 
}

.notifiche {
    background-color: var(--celeste);
    height: 70px;
}

.fa-bell-slash {
    color: var(--celeste);
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--white);
}

.text-notifiche a {
    color: var(--gray);
    font-size: 13px;
}

.input-contatti {
    height: 35px;
    border: 1px solid var(--input);
    background-color: var(--white);
}

input {
    border: none;
    outline: none;
}

.icon-search {
    border-right: 1px solid var(--input);
}

.cerca {
    width: 400px;
    padding: 3px;
}

.cerca::placeholder {
    font-size: 15px;
}

.body-contatti {
    height: calc(100% - 191px);
    overflow-y: auto;
    background-color: var(--white);
}

.body-contatti div {
    cursor: pointer;
}

.active {
    background-color: #cdcfcf;
}

.info-contatti {
    display: flex;
    justify-content: space-between;
}

.chat-bg {
    background: url('../img/mine.jpg') repeat 50% 50%;
    height: calc(100% - 140px);
}

.message-container::after{
    content: "";
    clear: both;
    display: table;
}

.message {
    position: relative;
}

.sent {
    background-color: #dcf8c0;
    float: right;
}

.received {
    background-color: #fff;
    float: left;
}

.sent,
.received {
  border-radius: 12px;
  min-width: 300px;
  max-width: 300px;
}

.input-chat {
    height: 70px;
    background-color: var(--header-chat);
}

.input-chat input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.input-chat input::placeholder {
    font-size: 15px;
}